body.homepage {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}
.body {
  overflow: hidden;
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


 
  #background-img {
    position: absolute;
    background-image: url(../../assets/light.jpg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Cover the entire element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    z-index: -1; /* Place it behind other content */
  }

  .img-container {
    text-align: center;
  }
  
  #logo {
    width: 100px; /* Adjust size as needed */
  }

  
  /* Tagline styles */
  .tagline {
    text-align: center;
    margin-top: 7rem;
    font-size: 3.6rem;
    color: rgb(18, 18, 18);
    font-style: italic;
  }
  
  /* Content container styles */
  .content-container {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    flex-wrap: nowrap; 
  }
  
  .content-container fieldset {
    border-radius: 8px;
    padding: 2.3rem;
    width: 320px;
    margin: 2rem; 
    margin-bottom: 12rem;
    background-color: white;
    min-height: 100px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 8px 5px #2c2b2b;
  }
  
  .sub {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .message {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  
  form input[type="email"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    
    border-radius: 5px;
  }
  
  .subscribe-button {
    padding: 0.5rem;
    background-color: #0f3623;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .subscribe-button:hover {
    background-color: #134e20;
  }
  
  /* Donate button styles */
  .donate-button {
    display: block;
    text-align: center;
    padding: 0.5rem;
    background-color: #0f3623;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 3.1rem;
  }
  
  .donate-button:hover {
    background-color: #134e20;
  }
  
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .white-section {
    height: 75vh; /* Ensure it takes enough height to force scrolling */
    text-align: left;
    opacity: 0; /* Start hidden */
    transition: opacity 0.7s ease-in-out; /* Animation */
    background-color: white;
  }
  
  .white-section.fade-in {
    opacity: 1; /* Fade in */
  }
  
  .white-section {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    align-items: flex-start; /* Align items at the top */
    padding: 8px; /* Optional: Add padding for spacing */
  }
  
  .mission {
    flex: 1; /* Take up remaining space */
    margin-right: 7rem; /* Space between text and image */
    max-width: 55%;
    padding: 2rem;
    
  }
  .mission h2 {
    margin-bottom: 1rem;
    border-bottom: 4px solid black;
    padding: 2rem;
    font-style: italic;
    font-size: 1.8rem;
  }
  
  .mission-img {
    width: 25%;
    margin-top: 6rem;
  }
  
  .mission-img img {
    width: 100%; /* Ensure image fits its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
  }
  .mission p {
    margin-top: 2rem;
    font-size: 1.4rem;
  }